.actions__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin-top: 0.6rem;
}

.button__action {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.8rem 1rem;

  border: none;
  outline: none;
  border-radius: 6px;

  cursor: pointer;
  transition: all 0.4s;

  color: white;
}

.button__quotes {
  background: #2ECC71;

}

.button__quotes:hover {
  background: #3dfc8c;
}