.profile__card {
  display: flex;
  gap: 1rem;
}

.profile__card img {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 50%;
  border: dotted  rgba(255, 0, 0, 0.5);
}

.profile__info__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
}

.profile__info h1 {
  font-size: 1.3rem;
}

.profile__info span {
  font-style: italic;
  font-size: 0.9rem;
}

.button__favorite {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

.button__favorite i {
  color: #FFBF00;
}